.category__item{
    background: rgb(6, 6, 6);
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s;
    box-shadow: 5px 5px 15px -5px #def4e4;
    /* border: 0.1px solid #fff; */
    border: 1px solid rgb(69, 69, 69);
    color: #fff;
}
.category__item:hover{
    transform: translateY(-10px);
}
@media screen and (max-width: 768px){
    .category__item {
        padding: 20px 15px;
    }
    .category__img img {
        width: 50px;
        height: 50px;
    }
    .category__item h6{
        font-size: 0.8rem;
    }
}